<section >
  <h3>CATEGORY</h3>
  <div class="first-div">We Offer Best Services</div>
  <div>
    <ul class="second-ul">
      <li>
        <div class="first-li-div">
          <img class="first-li-img" src="./image/mic.png" alt="이미지">
          <div class="first-li-box"></div>
        </div>
        <div class="first-li-div1">Calculated Weather</div>
        <div class="first-li-div2">Bulit Wicket longer admire do barton vanity itself do in it.</div>
      </li>
      <li>
        <div class="second-li-div">
            <div class="second-li-div3">
              <img class="second-li-img" src="./image/mic.png" alt="이미지">
              <div class="second-li-box2"></div>
            </div>
            <div class="second-li-div1">Best Flights</div>
            <div class="second-li-div2">Engrossed listening. Park gate sell they west hard for the.</div>
        </div>
        <div class="second-li-box"></div>
      </li>
      <li>
        <div class="third-li-div">
          <img class="third-li-img" src="./image/mic.png" alt="이미지">
          <div class="third-li-box"></div>
        </div>
        <div class="third-li-div1">Local Events</div>
        <div class="third-li-div2">Barton vanity itself do in it.Preferd to men it engrossed listening.               
        </div>
      </li>
      </li>
      <li>
        <div class="fourth-li-div">
          <img class="fourth-li-img" src="./image/mic.png" alt="이미지">
          <div class="fourth-li-box"></div>
        </div>
        <div class="fourth-li-div1">Customization</div>
        <div class="fourth-li-div2">We deliver outsourced aviation services for military customers               
        </div>
      </li>
    </ul>
  </div>
</section>